            <div class="header-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="logo-area">
                        <a href="index-3.html"><img src="assets/img/logo_home3.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-9 col-xs-12">
                    <div class="block-header">
                        <div class="phone"><i class="fa fa-phone"></i>(+880) 175 699 7996</div>
                        <div class="email"><a href="mailto:admin@bootexperts.com"><i class="fa fa-envelope-o"></i>Support@<span>example.com</span></a></div>
                    </div>
                    <div class="search-categori">
                        <div class="search-box">
                            <form action="#">
                                <input type="text" class="form-control input-sm" ng-model="searchText" maxlength="64" placeholder="Enter your search key ... ">
                                <button type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 hidden-sm col-xs-12">
                    <div class="shopping-cart expand">
                        <a href="cart.html"><span>Shopping Cart ({{total_item}})</i></span></a>
                        <div class="restrain small-cart-content">
                            <ul class="cart-list">
                                <li ng-repeat="cdata in cartdata.OrderList">
                                <!--     <a class="sm-cart-product" href="product-details.html">
                                        <img src="assets/img/product/sscart-1.jpg" alt="">
                                    </a> -->
                                    <div class="small-cart-detail">
                                        <a class="remove" href="#"><i class="fa fa-times-circle-o"></i></a>
                                       <!--  <a href="#" class="edit-btn"><img src="img/btn_edit.gif" alt="Edit Button"></a> -->
                                        <a class="small-cart-name" href="product-details.html">{{cdata.item_name}}</a>
                                        <span class="quantitys"><strong>{{cdata.item_unit}}</strong>x<span>{{cdata.item_unit*cdata.item_price}}</span></span>
                                    </div>
                                </li>
               <!--                  <li>
                                    <a class="sm-cart-product" href="product-details.html">
                                        <img src="assets/img/product/sscart-2.jpg" alt="">
                                    </a>
                                    <div class="small-cart-detail">
                                        <a class="remove" href="#"><i class="fa fa-times-circle-o"></i></a>
                                        <a href="#" class="edit-btn"><img src="img/btn_edit.gif" alt="Edit Button"></a>
                                        <a class="small-cart-name" href="product-details.html">Donec ac tempus</a>
                                        <span class="quantitys"><strong>1</strong>x<span>$40.00</span></span>
                                    </div>
                                </li> -->
                            </ul>
                            <p class="total">Subtotal: <span class="amount">&pound; {{total_amount | number:2}}</span></p>
                            <p class="buttons">
                                <a href="checkout.html" class="button">Checkout</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
                                         <div class="col-lg-3 col-md-4 col-sm-6  col-xs-12 col-padd"  ng-repeat="product in searcheddata.products_list | filter:searchText">
                                                <div class="single-product">
                                                    <div class="product-label">
                                                    <div class="new"></div>
                                                    </div>
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img class="primary-image" src="http://localhost/API-shop/img/{{product.product_image}}" alt="" style="width:250px;height: 150px " />
                                                        </a>
                                                    </div>
                                                    <div class="product-content common3">
                                                        <h2 class="product-name"><a href="#">{{product.product_title}}</a></h2>
                                                        <div class="rating">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <span class="new-price">$222.00</span>
                                                        </div>

                                                    </div>
                                                    <div class="add-to-link3">
                                                        <ul>
                                                            <li class="add-link3"><a title="" ng-click = "AddItemIntoCart(product.product_id,product.product_title,product.product_price)" data-original-title="Add to Cart">add to cart</a></li>
                                                            <li class="add-heart"><a href="#" title="" data-original-title="Add to Wishlist"></a></li>
                                                            <li class="add-arrow"><a href="#" title="" data-original-title="View Products"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>