<!-- start product cart section -->
    <div class="ui-shopping-cart">

        <div class="ui-small-cart-content">
          <table class="table-striped">
              <thead>
                  <th>  Name  </th>
              </thead>
          </table>
          <ul class="cart-list">
              <li ng-repeat="cdata in vm.cartdata.OrderList">
              <!--     <a class="sm-cart-product" href="product-details.html">
                      <img src="assets/img/product/sscart-1.jpg" alt="">
                  </a> -->
                  <div class="small-cart-detail">
                      <a class="remove" href="#"><i class="fa fa-times-circle-o"></i></a>
                     <!--  <a href="#" class="edit-btn"><img src="img/btn_edit.gif" alt="Edit Button"></a> -->
                      <a class="small-cart-name" href="product-details.html">{{cdata.item_name}}</a>
                      <span class="quantitys"><strong>{{cdata.item_unit}}</strong>x<span>{{cdata.item_unit*cdata.item_price}}</span></span>
                  </div>
              </li>
          </ul>
          <p class="total">Subtotal: <span class="amount">&pound; {{vm.total_amount | number:2}}</span></p>
          <p class="buttons">
              <a href="checkout.html" class="button">Checkout</a>
          </p>
            <p class="total">Subtotal: <span class="amount">$155.00</span></p>
            <div class="ui-checkout-buttons">
                <input type="button" value="Chekout">

            </div>
        </div>
    </div>
    <!-- end product cart section -->
            <div class="header-menu">
        <div class="container">
            <div class="row">



            </div>
        </div>
</div>
                                         <div class="col-lg-3 col-md-4 col-sm-6  col-xs-12 col-padd"  ng-repeat="product in vm.searcheddata.products_list | filter:searchText">
                                                <div class="single-product">
                                                    <div class="product-label">
                                                    <div class="new"></div>
                                                    </div>
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img class="primary-image" src="http://localhost/API-shop/img/{{product.product_image}}" alt="" style="width:250px;height: 150px " />
                                                        </a>
                                                    </div>
                                                    <div class="product-content common3">
                                                        <h2 class="product-name"><a href="#">{{product.product_title}}</a></h2>
                                                        <div class="rating">
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star"></i></a>
                                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                                        </div>
                                                        <div class="price-box">
                                                            <span class="new-price">$222.00</span>
                                                        </div>

                                                    </div>
                                                    <div class="add-to-link3">
                                                        <ul>
                                                            <li class="add-link3"><a title="" ng-click = "vm.AddItemIntoCart(product.product_id,product.product_title,product.product_price)" data-original-title="Add to Cart">add to cart</a></li>
                                                            <li class="add-heart"><a href="#" title="" data-original-title="Add to Wishlist"></a></li>
                                                            <li class="add-arrow"><a href="#" title="" data-original-title="View Products"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
