<!-- header area start -->
<div class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="single-drop">
                        <nav>
                            <ul>
                                <li>
                                    <label><i class="fa fa-cog"></i>Currency: </label><a class="xero" href=""><span>USD</span><i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="#">GBP</a></li>
                                        <li><a href="#">EUR</a></li>
                                        <li><a href="#">USD</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <label><i class="fa fa-globe"></i>Language: </label><a href=""><span>English</span><i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="#">Brazilian</a></li>
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">German</a></li>
                                        <li><a href="#">Russian</a></li>
                                        <li><a href="#">Spanish</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="single-menu">
                        <nav>
                            <ul>
                                <li><a href="my-account.html">My Account {{lookingfor}}!</a></li>
                                <li><a href="wishlist.html">My Wishlist</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="checkout.html">My Cart</a></li>
                                <li><a class="lastbdr" href="/#/login">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
</div>

</div>