<!-- header area start -->
<div class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="single-drop">
                        <nav>
                            <ul>
                                <li>
                                    <label><i class="fa fa-cog"></i>Currency: </label><a class="xero" href=""><span>USD</span><i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="#">GBP</a></li>
                                        <li><a href="#">EUR</a></li>
                                        <li><a href="#">USD</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <label><i class="fa fa-globe"></i>Language: </label><a href=""><span>English</span><i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="#">Brazilian</a></li>
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">German</a></li>
                                        <li><a href="#">Russian</a></li>
                                        <li><a href="#">Spanish</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="single-menu">
                        <nav>
                            <ul>
                                <li><a href="my-account.html">My Account {{obj.prop}}!</a></li>
                                <li><a href="wishlist.html">My Wishlist</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="checkout.html">My Cart</a></li>
                                <li><a class="lastbdr" href="my-account.html">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
</div>
    <div class="header-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="logo-area">
                        <a href="index-3.html"><img src="assets/img/logo_home3.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-9 col-xs-12">
                    <div class="block-header">
                        <div class="phone"><i class="fa fa-phone"></i>(+880) 175 699 7996</div>
                        <div class="email"><a href="mailto:admin@bootexperts.com"><i class="fa fa-envelope-o"></i>admin@<span>bootexperts.com</span></a></div>
                    </div>
                    <div class="search-categori">
                        <div class="search-box">
                            <form action="#">
                                <input type="text" class="form-control input-sm" maxlength="64" placeholder="Enter your search key ... ">
                                <button type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 hidden-sm col-xs-12">
                    <div class="shopping-cart expand">
                        <a href="cart.html"><span>Shopping Cart(2)</span></a>
                        <div class="restrain small-cart-content">
                            <ul class="cart-list">
                                <li>
                                    <a class="sm-cart-product" href="product-details.html">
                                        <img src="assets/img/product/sscart-1.jpg" alt="">
                                    </a>
                                    <div class="small-cart-detail">
                                        <a class="remove" href="#"><i class="fa fa-times-circle-o"></i></a>
                                        <a href="#" class="edit-btn"><img src="img/btn_edit.gif" alt="Edit Button"></a>
                                        <a class="small-cart-name" href="product-details.html">Voluptas nulla</a>
                                        <span class="quantitys"><strong>1</strong>x<span>$75.00</span></span>
                                    </div>
                                </li>
                                <li>
                                    <a class="sm-cart-product" href="product-details.html">
                                        <img src="assets/img/product/sscart-2.jpg" alt="">
                                    </a>
                                    <div class="small-cart-detail">
                                        <a class="remove" href="#"><i class="fa fa-times-circle-o"></i></a>
                                        <a href="#" class="edit-btn"><img src="img/btn_edit.gif" alt="Edit Button"></a>
                                        <a class="small-cart-name" href="product-details.html">Donec ac tempus</a>
                                        <span class="quantitys"><strong>1</strong>x<span>$40.00</span></span>
                                    </div>
                                </li>
                            </ul>
                            <p class="total">Subtotal: <span class="amount">$155.00</span></p>
                            <p class="buttons">
                                <a href="checkout.html" class="button">Checkout</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>