                <aside>
                    <div class="left-category-menu">
                        <div class="left-product-cat">
                            <div class="category-heading common3">
                                <h2>category </h2>
                            </div>
                            <div class="category-menu-list common3">
                                <ul>
                                    <li ng-repeat="item in categories">
                                        <a href="#/search/{{item.cid}}/{{item.category_name}}"><span>{{item.category_name}}</span></a>

                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>