                          <acme-navbar obj="hello"></acme-navbar>
                          <div class="container">
                              <div class="row">
                       <div class="col-md-6 col-sm-6 col-xs-12">
                            <form action="#">
                                <div class="form-fields">
                                    <h2>Register</h2>
                                                                        <p>
                                        <label>Name <span class="required">*</span></label>
                                        <input type="text">
                                    </p>
                                                                        <p>
                                        <label>Email address <span class="required">*</span></label>
                                        <input type="text">
                                    </p>
                                    <p>
                                        <label>Mobile No <span class="required">*</span></label>
                                        <input type="text">
                                    </p>
                                     <p>
                                        <label>Address <span class="required">*</span></label>
                                       <textarea class="form-control" rows="5" id="comment"></textarea>
                                    </p>
                                    <p>
                                        <label>Password <span class="required">*</span></label>
                                        <input type="password">
                                    </p>
                                </div>
                                <div class="form-action">
                                    <input type="submit" value="Register">
                                </div>
                            </form>
                </div>

                               </div>
                          </div>