                          <acme-navbar obj="hello"></acme-navbar>
                          <div class="container">
                              <div class="row">
                                  
                                <div class="content-info">

                                <h2>Select Delivery Address</h2>

                                 <div class="loginFrom">

                                        <select name="">
                                          <option value="">House#33,Road#05,Sector:10, Uttara Dhaka</option>
                                           <option value="">Add New Delivery Address</option>
                                        </select>

                                  </div>
                                  <br>
                                     <a href="/#/checkout/selectdeliverytimings" class="checkPageBtn pull-left" >CONTINUE</a>     
                                </div>
                               </div>
                          </div>