                          <acme-navbar obj="hello"></acme-navbar>
                          <div class="container">
                              <div class="row">
                                  
                           
                            <div id="checkoutMethod" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="content-info">
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="checkout-reg">
                                            <div class="checkReg commonChack">
                                                <div class="checkTitle">
                                                    <h6 class="ct-design">CHECKOUT AS A GUEST OR REGISTER</h6>
                                                </div>
                                                <p>Register with us forfuture convenience</p>
                                                <input type="radio" name="btnstate" ng-model="btnstate" value="1">
                                                <label>Checkout as Guest</label>
                                                <br>
                                                <input type="radio" name="btnstate" ng-model="btnstate" value="2">
                                                <label>Register</label>
                                                <br>
                                                <br>
                                            </div>
                                            <div class="regSaveTime commonChack">
                                                <h6>REGISTER AND SAVE TIME!</h6>
                                                <p>Register with us for future convenience:</p>
                                                <ul>
                                                    <li>Fast and easy checkout</li>
                                                    <li>Easy access to your history and status</li>
                                                </ul>
                                            </div>
                                            <a href="" class="checkPageBtn pull-right" ng-click="vm.CheckOutContinue()">CONTINUE</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="checkout-login">
                                            <div class="checkTitle">
                                                <h6 class="ct-design">Login</h6>
                                            </div>
                                            <p class="alrdyReg">ALREADY REGISTERED?</p>
                                            <p class="plxLogin">Please log in below:</p>
                                            <div class="loginFrom">
                                                <p class="plxLoginP">Email Address <span>*</span></p>
                                                <input type="text">
                                                <br>
                                                <p class="plxLoginP">Password <span>*</span></p>
                                                <input type="text">
                                                <p class="rqudField">* Required Fields</p>
                                            </div>
                                            <a href="" class="checkPageBtn pull-right" ng-click="vm.loginAuth()">Login</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                               </div>
                          </div>