                          <acme-navbar obj="hello"></acme-navbar>
                          <div class="container">
                              <div class="row">
                                  
                                <div class="content-info">
                                <h2>Select Delivery Timings</h2>
                                 <div class="loginFrom">
                                     When would you like your Order Items <input type="date" ng-model="delivery_date">  <input type="time" ng-model="delivery_time">
                                     
                                  </div>
                                  <br>
                                     <a href="/#/checkout/billing" class="checkPageBtn pull-left" ng-click="CheckOutContinue()">CONTINUE</a>     
                                </div>
                               </div>
                          </div>