                          <acme-navbar obj="hello"></acme-navbar>
                          <div class="container">
                              <div class="row">
                                  
                                <div class="content-info">
                                <h2>Customer Details</h2>
                                 <div class="loginFrom">
                                                <input type="text" placeholder="Your Name" ng=model="guest_customer_name">
                                                <br>
                                                <input type="tel" placeholder="Your Mobile No">
                                               <!--  <p class="rqudField">* Required Fields</p> -->
                                            </div>
                                    <div class="billing-info">
                                       <div class="form-group">
                                          <label for="comment">Enter your delivery address:</label>
                                          <textarea class="form-control" rows="5" id="comment"></textarea>
                                        </div>
                                        <div class="block-area-button">
                                            <button class="btn btn-default add-tag-btn">Continue</button>
                                        </div>
                                    </div>
                                </div>

                               </div>
                          </div>